.colcarou-frame {
    width:100%;
    display:flex;
}
/**Colcarou Item **/
.colcarou-item {
    position: relative;
    overflow: hidden;
    height: 100%;
    float: left;
}
.colcarou-item.active .colcarou-textbox {
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    display:table;
    width:60%;
}
.colcarou-item.active .colcarou-textbox h2 {
    font-weight: bold;
    margin-bottom: 38px;
}
.colcarou-item.active .colcarou-textbox p {
    margin: 0;
    line-height: 31px;
    /* width: 80%*/
}
.colcarou-item.inactive .colcarou-textbox {
    display:table;
}
.colcarou-item.inactive .colcarou-textbox h2 {
    display: table-cell !important;
    vertical-align: middle;
}
.colcarou-item.inactive .colcarou-textbox {
    position: absolute;
    width: 5000px;
}
.colcarou-item h2, .colcarou-item p {
    cursor: default;
}
/**Colcarou elements**/
.colcarou-textbox {
    position: absolute;
    top:0;
    z-index: 5;
}
.colcarou-textbox h2,
.colcarou-textbox p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.colcarou-text {
    width : 100%;
}
.colcarou-button {
    text-decoration: none;
    float:left;
}
.colcarou-image {
    width: auto;
    max-width: 1920px;
    min-height: 100%;
    min-width: 100%;
}
/**Special class for rotation**/
.colcarou-rotate {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*
For IE11
*/

@media (min-width:965px) and (-ms-high-contrast:none){
    .colcarou-item.active .colcarou-textbox {
        margin-top:15vh !important;
        margin-left:10vw !important;
    }
}

@media (max-width:965px) and (-ms-high-contrast:none) {
    .colcarou-item.active .colcarou-textbox {
        margin-top: 5vh !important;
        margin-left: 5vw !important;
        margin-right: 5vw !important;
    }
}
